<html>
<head>

</head>
<body>

  <div style="text-align: center;">
    <h1><b>Title of the Post</b></h1>
    <p>
    A brief summury should be located to here for the user who don't want to read everything so they can decide whether this post is helpful or not.
    </p>
    <p>20XX/XX/XX</p>
  </div>



  <h2>0. Introduction</h2>



  <h2>1. Something</h2>

  <h3>1.1. Something</h3>

  <h4>1.1.1. Something</h4>





  <h2>2. Something</h2>

  <h3>2.1. Something</h3>

  <h4>2.1.1. Something</h4>




  <h2>3. Something</h2>

  <h3>3.1. Something</h3>

  <h4>3.1.1. Something</h4>




  <h2>0. Conclusion</h2>




  <h2>Appendix A. References</h2>



  <h2>Appendix B. Something</h2>



  <h2>Appendix C. Something</h2>








<!-- Uncomment the following things upon completion and delete this. -->
<!--</body>
</html>-->


  <!-- ======================================================================= -->
  <!-- ============= Sample Tags: Delete upon Article Completion ============= -->
  <!-- ======================================================================= -->



  <!-- ======== ======== Headings ======== ======== -->
  <h1>H1</h1>
  <h2>H2</h2>
  <h3>H3</h3>
  <h4>H4</h4>
  <h5>H5</h5>
  <h6>H6</h6>

  <!-- ======== ======== Paragraphs ======== ======== -->
  <p>
    This is a normal paragraphs. This is a normal paragraphs. This is a normal paragraphs. This is a normal paragraphs. This is a normal paragraphs. This is a normal paragraphs. This is a normal paragraphs. This is a normal paragraphs.
  </p>

  <!-- ======== ======== In Text Tags ======== ======== -->
  <mark>Marked, highlighted text</mark>
  <br/>

  <ins>This text has been inserted</ins>
  <br/>
  <u>Underline tag (NOT RECOMMENDED)</u>
  <br/>

  <strong>Strong text</strong>
  <br/>
  <b>bold text (NOT RECOMMENDED)</b>
  <br/>

  <em>Emphasized text</em>
  <br/>
  <i>italic (NOT RECOMMENDED)</i>
  <br/>

  <kbd>Keyboard input</kbd>
  <br/>
  <var>Variable</var>
  <br/>

  <q>Surrounded with some quotation marks</q>
  <br/>

  <sub>subscript</sub>
  <br/>
  <sup>superscript</sup>
  <br/>

  <s>Text crossed out</s>
  <br/>
  <del>Deleted text</del>
  <br/>

  <!-- ======== ======== Citation ======== ======== -->
  According to <cite title="HTML & XHTML: The Definitive Guide. Published by O'Reilly Media, Inc.; fifth edition (August 1, 2002)">Chuck Musciano and Bill Kennedy</cite>, the HTML cite tag actually exists!

  <blockquote cite="http://www.worldwildlife.org/who/index.html">
    For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.
  </blockquote>

  <p>Browsers usually insert quotation marks around the q element.</p>
  <p>WWF's goal is to: <q>Build a future where people live in harmony with nature.</q></p>

  <!-- ======== ======== Abbreviation ======== ======== -->
  <p>The <abbr title="World Health Organization">WHO</abbr> was founded in 1948.</p>

  <!-- ======== ======== A Link (Must Open a New Window) ======== ======== -->
  <p>
    <a target="_blank" href="https://vimium.github.io/">Vimium Link to Click!</a>
  </p>

  <!-- ======== ======== Computer Code ======== ======== -->
  <!-- Currently using https://prismjs.com/-->
  <pre><code class="language-bash">[user@host] $ sudo ls
</code></pre>

  <pre><code class="language-bash">[root@host] # whoami
</code></pre>

  <pre><code class="language-SOME_LANGUAGE_HERE">/* Name of the File */
int main() {
  int a = 1;
  int b = 2;
  int c = a + b;
  return 0;
}
</code></pre>

  <pre><samp>This is output of the code executed.
The second line of the output.
</samp></pre>

  <!-- ======== ======== Formatting ======== ======== -->
  <br />
  <hr />

  <!-- ======== ======== Unordered Lists ======== ======== -->
  <ul>
    <li>Cherry Tomato</li>
    <li>Beef Tomato</li>
    <li>Snack Tomato</li>
  </ul>

  <!-- ======== ======== Ordered Lists ======== ======== -->
  <ol start="-10">
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
  </ol>

  <!-- ======== ======== Description List ======== ======== -->
  <dl>
    <dt>Web</dt>
    <dd>The part of the Internet that contains websites and web pages</dd>
    <dt>HTML</dt>
    <dd>A markup language for creating web pages</dd>
    <dt>CSS</dt>
    <dd>A technology to make HTML look better</dd>
  </dl>

  <!-- ======== ======== Table  ======== ======== -->
  <table>
    <tr>
      <th>January</th>
      <th>February</th>
      <th>March</th>
    </tr>
    <tr>
      <td>31</td>
      <td>28</td>
      <td>31</td>
    </tr>
  </table>

  <!-- ======== ======== Image Tags ======== ======== -->
  <figure>
    <img src="img.jpg" alt="Smiley" width="50%">
    <figcaption>Title of the Image</figcaption>
  </figure>

  <!-- ======== ======== Enbedded Audio ======== ======== -->
  <figure>
    <figcaption>Listen to the sample:</figcaption>
    <audio controls>
      <source src="sample.wav" type="audio/wav">
      <source src="sample.mp3" type="audio/mp3">
      <source src="sample.mp3" type="audio/mpeg">
      <source src="sample.ogg" type="audio/ogg">
      <p>Your browser doesn't support HTML5 audio. Here is a <a href="sample.mp3">link to the audio</a> instead.</p>
    </audio>
  </figure>

  <!-- ======== ======== Enbedded Video ======== ======== -->
  <figure>
    <figcaption>Watch the sample:</figcaption>
    <video width="320" height="240" controls>
      <source src="movie.mp4" type="video/mp4">
      <source src="movie.ogg" type="video/ogg">
      <p>Your browser doesn't support HTML5 video. Here is a <a href="sample.mp4">link to the video</a> instead.</p>
    </video>
  </figure>

  <!-- ======== ======== Enbedded Object ======== ======== -->
  <figure>
    <figcaption>See the sample:</figcaption>
    <object width="400" height="400" data="helloworld.swf"></object>
  </figure>
  <figure>
    <object type="application/pdf" data="/media/examples/In-CC0.pdf"
      width="250" height="200">
    </object>
  </figure>
  <figure>
    <figcaption>See the sample:</figcaption>
    <embed width="400" height="400" data="helloworld.swf"/>
  </figure>

  <!-- ======== ======== Youtube Videos ======== ======== -->
  <div style="position: relative; width: 100%; height: 0; padding-bottom: 56.25%;">
    <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" id="ytplayer" type="text/html" src="https://www.youtube.com/embed/tVb34tsbY_o" frameborder="0" allowfullscreen>
    </iframe>
  </div>

  <!-- ======== ======== Miscellaneous Tags ======== ======== -->
  <progress value="70" max="100">70 %</progress>

  <!-- ======== ======== References ======== ======== -->
  <!-- ***** ALL REFERENCES MUST BE CREATED FROM ZOTERO (APA Style) IDEALLY ***** -->
  <!-- Books - APA Style -->
  <p>
    Russell, S. J., & Norvig, P. (2016). Artificial intelligence: a modern approach. Malaysia; Pearson Education Limited,.
  </p>
  <!-- Papers - APA Style -->
  <p>
    Silver, D., Schrittwieser, J., Simonyan, K., Antonoglou, I., Huang, A., Guez, A., ... & Chen, Y. (2017). Mastering the game of Go without human knowledge. Nature, 550(7676), 354.
  </p>
  <!-- Webpages - Easy Style -->
  <p>
    zillion, "Writing Shellcode" 2002. [Online]. Available:http://www.safemode.org/files/zillion/shellcode/doc/Writing_shellcode.html. [Accessed July 25, 2018].
  </p>

</body>
</html>
