.dkdv__homepage--button-back-to-top {
  background-color: var(--color-container-achromatic-5); /* button color */
  color: var(--color-font-normal-0); /* text/arrow color */
  z-index: 999;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* round button */
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.6;
  padding-left: 2px;
  padding-top: 4px;
}
