.dkdv__homepage--nav {
  margin-right: 10%;
  margin-left: 10%;
}

.dkdv__homepage--introduction {
  height: 100vh;
  margin: 0;
}

.dkdv__homepage--contents {
  margin-right: 10%;
  margin-left: 10%;
}

.dkdv__homepage--footer {
  /* left: 0;
  bottom: 0;
  margin-bottom: 0; */
  /* height: 300px; */
  width: 100%;
  background-color: var(--color-container-achromatic-2);
  color: var(--color-font-normal-4);
  text-align: center;
  vertical-align: middle;
}
