


#dkdv__homepage--parallax-section-0 {
    height: 75vh;
    background-color: white;
}

#dkdv__homepage--parallax-font-0 {
    padding-top: 35vh;
}

#dkdv__homepage--parallax-section-1 {
    height: 50vh;
    background-color: yellow;
}

#dkdv__homepage--parallax-font-1 {
    padding-top: 55vh;
}

#dkdv__homepage--parallax-section-2 {
    height: 50vh;
    background-color: red;
}

#dkdv__homepage--parallax-section-3 {
    height: 50vh;
    background-color: purple;
}

#dkdv__homepage--parallax-section-4 {
    height: 50vh;
    background-color: blue;
}

#dkdv__homepage--parallax-section-5 {
    height: 50vh;
    background-color: green;
}

#dkdv__homepage--parallax-section-6 {
    height: 100vh;
}





























